<!doctype html>
<html lang="en">

<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="machineLearning.css">
      <link rel="shortcut icon" href="img/WebsiteLogoSample.png" type="image/x-icon">
      <title>Roadmap for Machine Learning</title>

     
</head>

<body>
      <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" style="margin-bottom: .1em;">
        <div class="container-fluid">
            <div class="logo1" ><img src="img/mainlogo.svg" style="height: 7vh;
position: relative;
left: 0vh;
margin:0 10px 0 0;" alt=""></div>
            <a class="navbar-brand" href="/index.hbs" style="font-weight: 800;">UniTrack</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  ml-auto ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index.hbs">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about.hbs">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/roadmaps.hbs">Roadmaps</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contactUs.hbs">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/home">Dashboard</a>
                    </li>
                    {{#if notloggedin}}
                    <li class="nav-item btn1" style="font-weight: 600; color:black;">
                        <a class="nav-link " href="login.hbs">Log In</a>
                    </li>
                    <li class="nav-item btn2" style="font-weight: 600;">
                        <a class="nav-link " href="signup.hbs" style="color: white;">Sign Up</a>
                    </li>
                    {{!-- {{else}}
                    <li class="nav-item dropdown d-flex ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="imgpro" src="img/profile-user.png" style="width: 2vw;" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/profile.hbs">Edit Profile</a>
                        <a class="dropdown-item" href="/users/logout">Log Out</a>
                    </div>
                </li> --}}
                    {{/if}}

                </ul>

            </div>
        </div>
      </nav>
      </header>

      <main>
            <div class="container">
                  <div class="card2">
                        <a href="webDevelopment.hbs" id="color">
                              <div class="card-body">
                                    <h6 class="card-title" style="font-family: 'IBM Plex Sans', sans-serif;">Web
                                          Development</h6>
                              </div>
                        </a>
                  </div>

                  <div class="card2">
                        <a href="appDevelopment.hbs" id="color">
                              <div class="card-body">
                                    <h6 class="card-title" style="font-family: 'IBM Plex Sans', sans-serif;">App
                                          Development</h6>
                              </div>
                        </a>
                  </div>
                  <div class="card2" id="machineLearning">
                        <a href="machineLearning.hbs" id="color">
                              <div class="card-body">
                                    <h6 class="card-title" id="third" style="font-family: 'IBM Plex Sans', sans-serif;">
                                          Machine
                                          Learning</h6>
                              </div>
                        </a>
                  </div>
                  <div class="card2">
                        <a href="competitiveProgramming.hbs" id="color">
                              <div class="card-body">
                                    <h6 class="card-title" style="font-family: 'IBM Plex Sans', sans-serif;">Competitive
                                          Programming</h6>
                              </div>
                        </a>
                  </div>
                  <div class="card2">
                        <a href="cloudComputing.hbs" id="color">
                              <div class="card-body">
                                    <h6 class="card-title" style="font-family: 'IBM Plex Sans', sans-serif;">Cloud
                                          Computing</h6>
                              </div>
                        </a>
                  </div>
            </div>

            <div class="container fullcontainer">
                  <div class="card limit ">
                        <div class="card-body typewriter info">
                              <div class="forheading">
                                    <h1 class="card-title" id="webheading" id="headingline">Roadmap for Machine Learning
                                    </h1>
                              </div><br><br>
                              <div class="container1">
                                    <p class="card-text">
                                          There are two ways to learn Machine Learning, and in this discussion, you will
                                          know the advantages and disadvantages of each. We will show you the methods
                                          and you can choose one of them to learn Machine Learning. Before choosing,
                                          make sure you are familiar with a suitable programming language such as
                                          Python.
                                    </p>
                              </div><br><br>
                              <div class="container1">
                                    <div id="carouselExampleCaptions" class="carousel slide carousel-fade"
                                          data-bs-ride="carousel">
                                          <div class="carousel-indicators">
                                                <button type="button" data-bs-target="#carouselExampleCaptions"
                                                      data-bs-slide-to="0" class="active" aria-current="true"
                                                      aria-label="Slide 1"></button>
                                                <button type="button" data-bs-target="#carouselExampleCaptions"
                                                      data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                <button type="button" data-bs-target="#carouselExampleCaptions"
                                                      data-bs-slide-to="2" aria-label="Slide 3"></button>
                                          </div>
                                          <div class="carousel-inner">
                                                <div class="carousel-item active" id="carousal1">
                                                      <img src="img/MLcarousal1.jpg" class="d-block w-100"
                                                            alt="image error!!!">
                                                      <div class="carousel-caption d-none d-md-block">
                                                      </div>
                                                </div>
                                                <div class="carousel-item" id="carousal2">
                                                      <img src="img/MLcarousal2.jpg" class="d-block w-100"
                                                            alt="image error!!!">
                                                      <div class="carousel-caption d-none d-md-block">
                                                      </div>
                                                </div>
                                                <div class="carousel-item" id="carousal3">
                                                      <img src="img/MLcarousal3.jpeg" class="d-block w-100"
                                                            alt="image error!!!">
                                                      <div class="carousel-caption d-none d-md-block">
                                                      </div>
                                                </div>
                                          </div>

                                          <button class="carousel-control-prev" type="button"
                                                data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                          </button>
                                          <button class="carousel-control-next" type="button"
                                                data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                          </button>
                                    </div>
                              </div>
                              <br><br>
                              <h5>Method 1 :</h5>
                              <p>In this method, it is necessary to reach your goal by taking some Machine Learning
                                    courses. As a result, you should be familiar with the concepts of machine learning.
                                    To do this, there are various courses that have been published by popular
                                    institutions such as Linda, Coursera, Udemy, etc. In this method, you have to take
                                    courses in which the concept of Machine Learning is introduced with the help of a
                                    programming language. In the meantime, you should also learn Python with libraries
                                    for data and machine learning. However, there are periods that include everything.
                                    In the second roadmap, we have explained and introduced these libraries.
                              </p>
                              <p>In the method, you won’t learn mathematical concepts behind Machine Learning,
                                    statistics, probability and etc. You just spend your time learning ML. But if you
                                    want to be a Machine Learning Engineer you should learn many things. So if you just
                                    want to apply some algorithm to your data, this method is the best. But you could
                                    not call yourself a Machine Learning Engineer after finish this method.</p><br>
                              <hr><br>
                              <h5>Method 2 :</h5>
                              <p>This way, unlike the previous way, has several prerequisites. Before learning machine
                                    learning, you should be fully acquainted with the following concepts.</p>
                              <br><br>
                              <h6>Calculus :</h6><br>
                              <div class="container1">
                                    <div class="card" style="width:35rem;">
                                          <img src="img/MLpart1.png" class="card-img-top" alt="image error!">
                                    </div>
                              </div><br><br>
                              <p>Many algorithms in Machine Learning deal with the concept of derivatives and integrals.
                                    You also need to be familiar with the concepts of limit and continuity, derivatives,
                                    and integral to understand statistics and probability. In general, you can use the
                                    following concepts.</p>

                              <div class="info">
                                    <li>Functions & Any types of Function</li>
                                    <li>Limit & Continuity</li>
                                    <li>Derivative & Differentiability</li>
                                    <li>Integral</li>
                              </div><br><br>
                              <h6>Probability & Statistics : </h6><br>
                              <div class="container1">
                                    <div class="card" style="width:35rem;">
                                          <img src="img/MLpart2.png" class="card-img-top" alt="image error!">
                                    </div>
                              </div><br><br>
                              <p>Since the basis of the concepts of Machine Learning is derived from statistics and
                                    probability, familiarity with them and mastery of statistics and probability helps a
                                    lot in understanding ML concepts.You should know the following concepts :</p><br>
                              <div class="info">
                                    <li>Categorical & Numerical Data</li>
                                    <li>Mean, Mode and Median</li>
                                    <li>Standard Deviation and Variance</li>
                                    <li>Co-Variance</li>
                                    <li>Correlation</li>
                                    <li>Skewness</li>
                                    <li>Random Variables</li>
                                    <li>Distributions</li>
                                    <li>Classic Probability</li>
                                    <li>Conditional Probability</li>
                              </div><br><br>
                              <h6>Numpy & Panda : </h6><br>
                              <div class="container1">
                                    <div class="card" style="width:35rem;">
                                          <img src="img/MLpart3.jpg" class="card-img-top" alt="image error!">
                                    </div>
                              </div><br><br>
                              <p>When you want to manipulate your data and deal with that you should know Numpy and
                                    Pandas. They are two strong python libraries. Numpy helps you to work with numerical
                                    data. Compute any statistics criteria also includes many functions for linear
                                    algebra. Pandas help you to extract many important points and statistics in your
                                    data. It keeps your data as a DataFrame which is so strong to see any fact in your
                                    data. You can learn about these libraries by their documentation or by taking
                                    courses. You should be familiar with the following concepts:</p><br>
                              <div class="info">
                                    <li>Read Data</li>
                                    <li>Compute Mean, Variance, Standard Deviation, Median, Mode, etc.</li>
                                    <li>Compute Correlation and Correlation Matrix</li>
                                    <li>Matrix Multiplication</li>
                                    <li>Inverse of Matrix</li>
                                    <li>Work with Matrix</li>
                                    <li>Group your data</li>
                                    <li>Fill NaN & Null Value</li>
                              </div><br><br>
                              <h6>Data Visualization Libraries : </h6><br>
                              <div class="container1">
                                    <div class="card" style="width:35rem;">
                                          <img src="img/MLpart4.jpg" class="card-img-top" alt="image error!">
                                    </div>
                              </div><br><br>
                              <p>You can extract many important facts about your data with Pandas and Numpy. But, if you
                                    want to show them to people or companies you should use plots and graphs. Many kinds
                                    of plots are available in Matplotlib and Seaborn. You should implement the following
                                    concepts:</p>
                              <br>
                              <div class="info">
                                    <li>Histogram</li>
                                    <li>Stacked Histogram</li>
                                    <li>Bar Chart</li>
                                    <li>Scatter Plot</li>
                                    <li>Box Plot</li>
                                    <li>3D Plot</li>
                                    <li>KDE Plot</li>
                                    <li>Swarm plot</li>
                                    <li>Heatmap</li>
                                    <li>Distribution Plot</li>
                                    <li>Distribution Plot</li>
                                    <li>Custom your plots</li>
                              </div><br><br>
                              <h6>Theory of Machine Learning :
                              </h6><br><br>
                              <div class="container1">
                                    <div class="card" style="width:35rem;">
                                          <img src="img/MLpart5.jpg" class="card-img-top" alt="image error!">
                                    </div>
                              </div><br><br>
                              <p>As a machine learning engineer, you should be a master of the following concept :</p>
                              <br>
                              <div class="info">
                                    <li>Clean Data</li>
                                    <li>Fill Missing Value</li>
                                    <li>Drop Some Feature</li>
                                    <li>Feature Selection</li>
                                    <li>Feature Scaling</li>
                                    <li>Regularization</li>
                                    <li>Feature Engineering (optional at first)</li>
                                    <li>Regression Algorithms</li>
                                    <li>Simple Linear Regression</li>
                                    <li>Ridge & Lasso</li>
                                    <li>Multiple Linear Regression</li>
                                    <li>Polynomial Regression</li>
                                    <li>XGBRegressor</li>
                                    <li>Classification Algorithms</li>
                                    <li>KNN (K Nearest Neighbor)</li>
                                    <li>Logistic Regression</li>
                                    <li>Decision Tree</li>
                                    <li>Random Forest</li>
                                    <li>Naive Bayes</li>
                                    <li>XGBClassifier</li>
                                    <li>Clustering Algorithms</li>
                                    <li>K-Means</li>
                                    <li>DBSCAN (Density-based spatial clustering of applications)</li>
                                    <li>Dimensionality Reduction</li>
                                    <li>PCA (Principale Component Analysis)</li>
                                    <li>LDA</li>
                                    <li>t-SNE</li>
                              </div><br>
                              <hr><br>
                              <h4>Machine Learning in Practice :</h4><br>
                              <p id="last_lines">You should learn sklearn to implement all last step concepts. There are
                                    also many courses for this library. You can also use sklearn documentation.</p>
                              <br>
                              <hr><br>
                        </div>
                  </div>
            </div>

      </main>
      {{!-- <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
            <!-- Section: Social media -->
            <section class="d-flex justify-content-between p-4" style="background-color: #ff98a4">
                  <!-- Left -->
                  <div class="me-5">
                        <span>Get connected with us on social networks:</span>
                  </div>
                  <!-- Left -->

                  <!-- Right -->
                  <div class="logoimages">
                        <a class="instagram" style="margin: 0rem 0.5rem" href="https://www.instagram.com" target="_main"
                              id="instalogo">
                              <img src="img/Instagram_logo_2016.svg.png" width="40vw" alt=""></a>
                        <a class="linkedin" style="margin: 0rem 0.5rem" href="https://www.linkedin.com" target="_main"
                              id="linkedinlogo"> <img src="img/LinkedIn_icon_circle.svg.png" width="40vw" alt=""></a>
                        <a class="facebook" style="margin: 0rem 0.5rem" href="https://www.facebook.com" target="_main"
                              id="facebooklogo"> <img src="img/facebook_icon.png" width="40vw" alt=""></a>
                  </div>
                  <!-- Right -->
            </section>
            <!-- Section: Social media -->

            <!-- Section: Links  -->
            <section class="">
                  <div class="container text-center text-md-start mt-5">
                        <!-- Grid row -->
                        <div class="row mt-3">
                              <!-- Grid column -->
                              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                                    <!-- Content -->
                                    <h6 class="text-uppercase fw-bold">Unitrack</h6>
                                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                          style="width: 60px; background-color: #ff98a4; height: 2px">
                                    <p>
                                          Hello User! , You can use our Website for many of your benefits i.e; Here you
                                          can find Notes, Books, Previous Years Question papers, Roadmaps of different
                                          types of fields like Web and App development etc.
                                    </p>
                              </div>
                              <!-- Grid column -->

                              <!-- Grid column -->
                              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                    <!-- Links -->
                                    <h6 class="text-uppercase fw-bold">We Provide</h6>
                                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                          style="width: 60px; background-color: #ff98a4; height: 2px">
                                    <p>
                                          <a href="#!" class="text-white">Notes</a>
                                    </p>
                                    <p>
                                          <a href="#!" class="text-white">Previous Years Question Papers</a>
                                    </p>
                                    <p>
                                          <a href="#!" class="text-white">Syllabus</a>
                                    </p>
                                    <p>
                                          <a href="#!" class="text-white">Important Books</a>
                                    </p>

                              </div>
                              <!-- Grid column -->

                              <!-- Grid column -->
                              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                                    <!-- Links -->
                                    <h6 class="text-uppercase fw-bold">Useful links</h6>
                                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                          style="width: 60px; background-color: #ff98a4; height: 2px">
                                    <p>
                                          <a href="todos.hbs" class="text-white">Todos</a>
                                    </p>
                                    <p>
                                          <a href="roadmaps.hbs" class="text-white">Roadmaps</a>
                                    </p>
                                    <p>
                                          <a href="#!" class="text-white">Help</a>
                                    </p>
                              </div>
                              <!-- Grid column -->

                              <!-- Grid column -->
                              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                                    <!-- Links -->
                                    <h6 class="text-uppercase fw-bold">Contact</h6>
                                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                          style="width: 60px; background-color: #ff98a4; height: 2px">
                                    <p><i class="fas fa-home mr-3"></i>Jamia Milia Islamiya, New Delhi, India</p>
                                    <p><i class="fas fa-envelope mr-3"></i> projectunitrack22@gmail.com</p>
                                    <p><i class="fas fa-phone mr-3"></i>+91 9811964470</p>
                                    <p><i class="fas fa-print mr-3"></i>+91 8957201204</p>
                              </div>
                              <!-- Grid column -->
                        </div>
                        <!-- Grid row -->
                  </div>
            </section>
            <!-- Section: Links  -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                  © 2022 Copyright:
                  <a class="text-white" style="text-decoration: none;">Unitrack.com</a>
            </div>
            <!-- Copyright -->

      </footer> --}}

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
<script>

      document.addEventListener('DOMContentLoaded', function (event) {
            // array with texts to type in typewriter
            var dataText = ["Roadmap for...", "Machine Learning"];

            // type one text in the typwriter
            // keeps calling itself until the text is finished
            function typeWriter(text, i, fnCallback) {
                  // chekc if text isn't finished yet
                  if (i < (text.length)) {
                        // add next character to h1
                        document.querySelector("h1").innerHTML = text.substring(0, i + 1) + '<span aria-hidden="true"></span>';

                        // wait for a while and call this function again for next character
                        setTimeout(function () {
                              typeWriter(text, i + 1, fnCallback)
                        }, 100);
                  }
                  // text finished, call callback if there is a callback function
                  else if (typeof fnCallback == 'function') {
                        // call callback after timeout
                        setTimeout(fnCallback, 700);
                  }
            }
            // start a typewriter animation for a text in the dataText array
            function StartTextAnimation(i) {
                  if (typeof dataText[i] == 'undefined') {
                        setTimeout(function () {
                              StartTextAnimation(0);
                        }, 20000);
                  }
                  // check if dataText[i] exists
                  if (i < dataText[i].length) {
                        // text exists! start typewriter animation
                        typeWriter(dataText[i], 0, function () {
                              // after callback (and whole text has been animated), start next text
                              StartTextAnimation(i + 1);
                        });
                  }
            }
            // start the text animation
            StartTextAnimation(0);
      });
</script>

</html>