@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Inter&family=Montserrat&family=PT+Sans:wght@700&family=Poppins:wght@400;500&family=Rowdies:wght@300&family=Secular+One&display=swap');
:root{
    --font1:'IBM Plex Sans', sans-serif;
}
.aboutcona{
    height: 376vh;
    width: 100%;
    background-color: #FFECEC;
}
.aboutcona1{
    height: 85vh;
    width: 42%;
    background-color:#FFECEC;
    /* transform: rotate(161deg); */
    overflow: hidden;
    position: relative;
    top: 19vh;
    left: 10vw;

}
.navigation{
    position: absolute;
    z-index: 1;
}
.abouthead1{
    /* transform: rotate(199deg); */
color: black;
position: relative;
/* left: -198px; */
/* top: 189px; */
font-size: 5vw;
font-family: var(--font1);
}
.aboutpara1{
    /* transform: rotate(199deg); */
color: black;
position: relative;
/* top: 30px; */
/* left: -170px; */
font-size: 4vw;
font-weight: 600;
font-family: var(--font1);
display: inline;
}
.aboutpara2{
    display: inline;
    margin: 0 0 0 10px;
}
.paracommon{
    /* transform: rotate(199deg); */
    color: black;
    position: relative;
    font-size: 3vw;
    font-family: var(--font1);
}
/* .aboutpara2{
   
    top: -117px;
    left: -441px;
}
.aboutpara3{
    
    top: -116px;
    left: -155px;
}
.aboutpara4{
   
    top: -199px;
    left: -142px;
}
.aboutpara5{
   
    top: -278px;
    left: -130px; */
/* } */
.aboutimg1{
    width: 34vw;
 position: relative;
/*left: 57vw;
top: -26vw; */
}
.aboutcona2{
    max-width: 98vw;
    margin: auto;
    background-color:#C4C4C4;
    height: 50vh;
    position: relative;
    top: -15vh;
    border-radius: 1vw;
}
.anotherbox{
    height: 104vh;
width: 100%;
display: flex;
}
.anotherboxb{
    position: relative;
top: 19vh;
left: 20vw;
}
.aboutcona3{
    max-width: 98vw;
    margin: auto;
    background-color: #C4C4C4;
    height: 230vh;
    position: relative;
    top: -12vh;
border-radius: 1vw;
}
.abouthead2{
    text-align: center;
    font-size: 3.5rem;
    font-family: var(--font1);
}
.aboutpara6{
    text-align: center;
    font-size: 2vw;
    font-family: var(--font1);
}
.abouthead3{
    text-align: center;
    font-size: 3.5rem;
    font-family: var(--font1);
}
.aboutconb{
    height: 190vh;
    width: 100%;
    background-color: #F4F4F4;
}
.aboutpara7{
    text-align: center;
    font-size: 3vw;
    font-family: var(--font1);
    font-weight: bold;
}
.aboutimg2{
    height: 14vw;
    position: relative;
    left: 76vw;
}
.aboutconb1{
    height: 95vh;
    width: 100%;
    /* background-color: aqua; */
}
.afg{
    height: 46vh;
}
.aboutb1a{
    height: 47vh;
    max-width: 95vw;
    margin: auto;
    /* background-color: #F8D9CF; */
    display: flex;
}
.aboutb1b{
    height: 47vh;
    max-width: 95vw;
    margin: auto;
    /* background-color: bisque; */
    position: relative;
    top: 10px;
    display: flex;
}
.aboutimg3{
    width: 26vw;
}
.aboutb1a1{
    height: 47vh;
    width: 22vw;
    /* border:2px solid black; */
    /* margin: 0 0 0 20px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
}
.aboutb1a1 img{
    /* margin: 0 0 0 55px; */
    width: 14vw;
}
.namepara{
    text-align: center;
    font-family: var(--font1);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 8px 0 0 0;

}
.aboutpara8{
    text-align: center;
    font-family: var(--font1);
    line-height: 2vw;
font-size: 1.3vw;
}
@media screen and (max-width:900px){
    .aboutimg3{
        width: 39vw;
    }
    .anotherbox{
        height: 79vh;
    }
    .aboutpara6{
        font-size: 4vw;
    }
    .aboutcona{
        height: 350vh;
    }
    .afg{
        height: 13vh;
    }
    .aboutconb1{
        height: 72vh;
    }
    .aboutb1a{
        height: 31vh;
    }
    .aboutpara8{
        font-size: 1.9vw;
    }
    .btn1{
        font-size: 2.8vw;
    }
    .btn2{
        font-size: 1.5vw;
    }
    .l{
        font-size: 2.8vw;
    }
}
@media screen and (max-width:450px){
    .aboutconb{
        height: 103vh;
    }
    .l{
        font-size: 3.8vw;
    }
    .btn1{
        font-size: 3.8vw;
    }
    .btn2{
        font-size: 2.9vw;
        width: 11vw;
        height: 33px;
        border-radius: 9px;
    }
    .aboutconb1{
        height: 58vh;
    }
    .anotherboxb{
        left: 0vw;
    }
    .paracommon{
        font-size: 4vw;

    }
    .abouthead1{
        font-size: 6vw;
    }
    .aboutcona1{
        height: 34vh;
        width: 61%;
    }
    .anotherbox{
        height: 68vh;
    }
    .aboutpara8{
        font-size: 2vw;

    }
    .aboutb1a{
        height: 22vh;
    }
    .afg{
        height: 12vh;
    }
    .aboutcona{
        height: 288vh;
    }
    .aboutcona3{
        height: 180vh;
    }
    
}
